@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
@font-face {
    font-family: font1;
    src: url(./asset/font/icomoon.ttf);
}

.hero{
    overflow: hidden;
    z-index: -1;
}
.hero::-webkit-scrollbar{
    display: none;
}
